---
layout: default
title: LeetCode solutions
---

<!-- <h2 style="font-style: normal;">Latest posts</h2> -->
<p style="font-style: italic;">Mathematically precise solutions to LeetCode problems</p>

<!-- Tag filter buttons -->
<div id="tag-list"></div>

<!-- Post counter -->
<p id="post-counter"></p>

<!-- Blog posts -->
<div id="posts">
    {% for post in site.leetcode_solutions %}
    <div class="post" data-tags="{{ post.tags | join: ',' }}">
        <!-- <h2 style="font-style: normal; font-weight: normal;"><a href="{{ post.url }}">{{ post.title }}</a></h2> -->
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
    </div>
    {% endfor %}
</div>

{% include tag-filter.html %}
