---
layout: default
title: LeetCode solutions
---

<!-- <p style="font-style: italic;">Solutions to a selection of LeetCode problems.</p> -->
<p>Solve. Learn. Evolve.</p>

<!-- Tag filter buttons -->
<div id="tag-list"></div>

<!-- Post counter -->
<p id="post-counter"></p>

<!-- Blog posts -->
<div id="posts">
    {% assign sorted = site.leetcode_solutions | sort: "date" | reverse %}
    {% for post in sorted %}
    <div class="post" data-tags="{{ post.tags | join: ',' }}">
        <!-- <h2 style="font-style: normal; font-weight: normal;"><a href="{{ post.url }}">{{ post.title }}</a></h2> -->
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
    </div>
    {% endfor %}
</div>

{% include tag-filter.html %}
