<nav class="site-nav">
    {% for item in site.data.navigation %}
    {% comment %} navbar items on the blog index page {% endcomment %}
    {% if page.url contains "/blog.html" %}
    {% if item.name == "Home" or item.name == "RSS" %}
    <a href="{{ item.link }}" class="nav-link">{{ item.name }}</a>
    {% endif %}
    {% comment %} navbar items on each blog post page {% endcomment %}
    {% elsif page.url contains "/blog/" %}
    {% if item.name == "Home" or item.name == "Blog" %}
    <a href="{{ item.link }}" class="nav-link">{{ item.name }}</a>
    {% endif %}
    {% comment %} navbar items on the LeetCode solutions index page {% endcomment %}
    {% elsif page.url contains "/leetcode-solutions.html" %}
    {% if item.name == "Home" %}
    <a href="{{ item.link }}" class="nav-link">{{ item.name }}</a>
    {% endif %}
    {% comment %} navbar items on each LeetCode solutions post page {% endcomment %}
    {% elsif page.url contains "/leetcode-solutions/" %}
    {% if item.name == "Home" or item.name == "LeetCode solutions" %}
    <a href="{{ item.link }}" class="nav-link">{{ item.name }}</a>
    {% endif %}
    {% endif %}
    {% endfor %}
</nav>
