<!DOCTYPE html>

<html lang="en">

<head>
    <title>Mahmoud Abdelkhalek</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mahmoud Abdelkhalek is a Software Engineer at MathWorks.">
    <meta name="keywords"
        content="computer science, machine learning, statistics, statistical machine learning, probabilistic machine learning, bayesian inference">
    <meta name="author" content="Mahmoud Abdelkhalek">

    <link rel="stylesheet" href="assets/css/tufte.css" />
</head>

<body>
    {% include navigation.html %}
    {{ content }}
</body>

</html>